{%extends 'zyneriq-auth.html' %}

{%block content %}
    <div id="loginFormBox" class="form-container">
            <form id="loginForm">
                <div class="input-group">
                    <label>Email address</label>
                    <input type="email" id="loginEmail" placeholder="hello@iot.com" autocomplete="off">
                </div>
                <div class="input-group">
                    <label>Password</label>
                    <input type="password" id="loginPassword" placeholder="••••••">
                </div>
                <button type="submit" class="submit-btn">Access Dashboard →</button>
                <div class="demo-hint">
                    🔑 Demo: demo@iot.com / any password (min 3 chars)<br>
                    Or use: john@creative-tim.com / 1234
                </div>
            </form>
        </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{%endblock %}
